html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
    border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* STYLING VARIABLES */

:root {
    /* color palette */
    --pure-white: #ffffff;
    --snow: #f2f2f2;
    --slate: #262626;
    --pale-yellow: #eae2b7;
    --solar: #fcbf49;
    --caution: #f77f00;
    --burning: #d62828;
    --burning-overlay: rgba(214, 40, 40, 0.9);
    /* default padding */
    --main-padding: 0.75rem;
}

/* GLOBAL SETTINGS */

html {
    min-height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: rgb(234,226,183);
    background: linear-gradient(180deg, rgba(234,226,183,1) 0%, rgba(252,191,73,1) 31%, rgba(247,127,0,1) 60%, rgba(214,40,40,1) 84%);
    min-height: 100vh;
}
#overlay {
    position: fixed;
    z-index: 100;
    background-color: var(--burning-overlay);
    height: 100%;
    max-width: 100%;
    top: 0;
    left: 100%;
    margin-top: 62px;
    padding: 2.25rem 1.75rem;
    transition: left 0.6s ease-in-out;
}
#info p {
    text-align: left;
    font-size: 1rem;
    color: var(--pure-white);
    
}
.container-fluid {
    height: 100vh;
    position: relative;
    padding: 0rem var(--main-padding) var(--main-padding) var(--main-padding);
    z-index: 0;
}
section {
    box-sizing: border-box;
    padding: var(--main-padding) 0rem 0rem 0rem;
}
h1 {
    font-size: 1.4rem;
    margin-top: 0.2rem;
}
h2 {
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}
h3 {
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--pure-white);
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 0.75rem;
}
a.credit-text {
    font-size: 0.6rem;
    font-weight: 400;
    color: var(--pure-white);
    text-decoration: none;
}
.give-margin {
    margin-top: 1rem;
}

/* LOGO & OTHER ANIMATIONS */

#logo {
    animation-name: fire;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes fire {
    0% {color: var(--pale-yellow);}
    25% {color: var(--solar);}
    50% {color: var(--caution);}
    75% {color: var(--burning);}
}
.overlay-transition {
    left: 0 !important;
    transition: left 0.6s ease-in-out;
}
.index-bar-75 {
    width: 75% !important;
    transition: width 0.4s ease-in-out;
}
.index-bar-50 {
    width: 50% !important;
    transition: width 0.6s ease-in-out;
}
.index-bar-25 {
    width: 25% !important;
    transition: width 0.8s ease-in-out;
}
.index-bar-0 {
    width: 0 !important;
    transition: width 0.1s ease-in-out;
}

/* NAVBAR AND NAVIGATION */

nav {
    padding: var(--main-padding);
    background-color: var(--slate);
    display: flex;
    flex-grow: 2;
    color: var(--pure-white);
    text-transform: uppercase;
}
#app-title {
    text-align: center;
}
#logo {
    flex-grow: 1;
    font-size: 1.75rem;
}
#info {
    flex-grow: 1;
    text-align: right;
    font-size: 1.75rem;
    color: var(--mist);
}

/* FORM STYLING */

.form-input {
    width: 100%;
    box-sizing: border-box;
    padding: 0.4rem;
    background-color: var(--snow);
    border: 0;
}
.btn {
    box-sizing: border-box;
    border: 0;
    padding: 0.6rem 2rem;
    color: var(--pure-white);
    margin-top: 1.25rem;
}
#form-controls {
    display: flex;
    justify-content: space-between;
}
#submit-btn {
    background-color: #489b06;
}
#reset-btn {
    background-color: var(--burning);
}
#map {
    width: 100%;
    height: 150px;
    background-color: var(--snow);
    margin-top: var(--main-padding);
    box-shadow: 0px 0px 9px 3px rgba(50, 50, 50, 0.33);
    -webkit-box-shadow: 0px 0px 9px 3px rgba(50, 50, 50, 0.33);
    -moz-box-shadow:    0px 0px 9px 3px rgba(50, 50, 50, 0.33);
}

/* LOCAL WEATHER SECTION */

#weather-readouts {
    display: flex;
    justify-content: space-between;
}
.weather-indicator {
    display: flex;
    font-size: 1.5rem;
    color: var(--pure-white);
}
#middle-weather-indicator {
    text-align: center;
}
.display-text {
    color: var(--pure-white);
    margin-left: 0.3rem;
    font-size: 1.8rem;
}
.tiny-text {
    font-size: 0.8rem;
}

/* WILDFIRE INDEX */

#index-display {
    display: flex;
}
#index-bar-div {
    flex-grow: 3;
    background: rgb(234,226,183);
    background: linear-gradient(90deg, rgba(234,226,183,1) 0%, rgba(252,191,73,1) 25%, rgba(247,127,0,1) 50%, rgba(153,0,0,1) 90%);
    box-shadow:         7px 0px 12px -1px rgba(50, 50, 50, 0.33);
    -webkit-box-shadow: 7px 0px 12px -1px rgba(50, 50, 50, 0.33);
    -moz-box-shadow:    7px 0px 12px -1px rgba(50, 50, 50, 0.33);
}
#index-bar {
    width: 100%;
    height: 100%;
    background: var(--burning);
    float: right;
}
#index-space {
    padding-left: 0.4rem;
}
#index-num {
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.5rem;
    color: var(--pure-white);
}
#out-of {
    font-weight: 400;
    color: var(--pure-white);
}
#message {
    background-color: var(--snow);
    padding: 0.5rem 0rem;
    margin-top: 0.5rem;
    font-size: 0.95rem;
    text-align: center;
}

/* MEDIA QUERIES */

@media (min-width: 576px) {
    #map {
        height: 250px;
    }
    .weather-indicator {
        font-size: 2.5rem;
        color: var(--pure-white);
    }
}

@media (min-width: 768px) {
    .form-input {
        padding: 0.8rem;
    }
    .btn {
        padding: 1rem 2rem;
        margin-top: 1.25rem;
    }
    #map {
        height: 300px;
    }
    .mapboxgl-canvas {
        height: 300px !important;
    }
    .weather-indicator {
        font-size: 3rem;
    }
}

@media (min-width: 992px) {
    .form-input {
        padding: 0.8rem;
    }
    .weather-indicator {
        font-size: 4.25rem;
    }
    #message {
        padding: 0.5rem 0rem;
        margin-top: 1rem;
        font-size: 1rem;
    }
}

@media (min-width: 1200px) {
    #location {
        display: flex;
    }
    #location-form {
        padding-right: 2rem;;
    }
    #map {
        height: 600px;
    }
    .mapboxgl-canvas {
        height: 600px !important;
    }
}