html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
    border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* STYLING VARIABLES */

:root {
    /* color palette */
    --pure-white: #ffffff;
    --snow: #f2f2f2;
    --slate: #262626;
    --pale-yellow: #eae2b7;
    --solar: #fcbf49;
    --caution: #f77f00;
    --burning: #d62828;
    /* default padding */
    --main-padding: 0.75rem;
}

/* GLOBAL SETTINGS */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.container-fluid {
    padding: var(--main-padding);
}
h1 {
    font-size: 1.4rem;
    margin-top: 0.2rem;
}
h2 {
    font-size: 1.3rem;
    font-weight: 800;
}

/* NAVBAR AND NAVIGATION */

nav {
    padding: var(--main-padding);
    background-color: var(--slate);
    display: flex;
    flex-grow: 2;
    color: var(--pure-white);
    text-transform: uppercase;
}
#app-title {
    text-align: center;
}
#logo {
    flex-grow: 1;
    font-size: 1.75rem;
}
#info {
    flex-grow: 1;
    text-align: right;
    font-size: 1.75rem;
}